@import "tailwindcss";

@theme {
  --color-yellow: #FFE614;
  --color-lightGray: #1E1E1E;
  --color-primary: #FF6B00;
  --color-secondary: #1B1B1B;
  --color-accent-100: #FFE5B4;
  --color-accent-200: #FFB347;
  --color-accent-300: #FF8C00;
}

/* Hide scrollbar but keep scroll functionality */
::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  scrollbar-width: none;     /* For Firefox */
}


#root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ring-border{
    border-radius: 15px;
    border-color: yellow;
    border-width: 2px;
}